#content-img {
    text-align: center;
    width: 350px;
    margin: 10px;
    min-height: 205px;
    position: relative;
}

#content-img img {
    margin: 0 auto !important;
    border-style: solid;
}


.item-btn {
    padding: 6px 8px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}
.item-btn:hover{  
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

#content-preview-img{
    padding-top:  40px;
    text-align: center;
}

#content-preview-img img{
    margin: 0 auto;
}

form {
    margin-top:  40px;

}