<div ng-controller="FotoController" >

    <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form novalidate name="formulario" class="row" ng-submit="submit()" >
                <!-- ng-submit="submeter()" -->
                <div class="col-md-12">
                    <!-- Nome -->
                    <div class="form-group">
                        <label for="nome">Nome <span style="color: red;">*</span></label>
                        <span class="form-control alert-danger" ng-show="formulario.nome.$error.maxlength">No máximo 20 caracteres!</span>
                        <span class="form-control alert-danger" ng-show="formulario.nome.$error.minlength">No minimo 3 caracteres!</span>
                        <input name="nome" class="form-control" ng-model="foto.nome"  type="text" id="name" placeholder="Nome" ng-minlength="3" ng-maxlength="20" required>  
                        <!-- <span ng-show="formulario.$submitted && formulario.nome.$error.required"
                        class="form-control alert-danger">Título obrigatório</span>
                         -->
                    </div>
                    <!-- FIM Nome -->   
                    <!-- Descrição -->
                    <div class="form-group">
                        <label for="desc">Descrição <span style="color: red;">*</span></label>
                        <span class="form-control alert-danger" ng-show="formulario.desc.$error.maxlength">No máximo 50 caracteres!</span>
                        <span class="form-control alert-danger" ng-show="formulario.desc.$error.minlength">No minimo 5 caracteres!</span>
                        <input name="desc" class="form-control" ng-model="foto.desc" placeholder="Descrição"  ng-minlength="5" ng-maxlength="50" required>
                    </div>
                    <!-- FIM DESCRIÇÃO -->
                    <!-- FILE -->
    
                    <div class="form-group"> 
                        <label for="image">Upload Image</label> 
                        <span class="form-control alert-danger" ng-show="formulario.image.$error">Selecione um Arquivo!</span>
                        <!-- <input type="file"  id="image" name="image" ng-model="foto.img" required>  -->
                        <input type="file" name="image" id="imageform"  required /><br><br>
                    </div> 
                    <!-- FIM FILE -->
                    
                    <button  type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
                    <a href="/#/home" class="btn btn-primary">Voltar</a>
                    <hr>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
                <p>{{foto.nome}}</p>
                <img  class="img-responsive" ng-src="http://localhost:3000/images/{{item.img}}" alt="{{item.nome}}">
                <p>{{foto.desc}}</p>
        </div>
    
    </div>

</div>