<div ng-controller="FotoController" >


    <div class="col-lg-6 col-md-6 ">
        <form novalidate name="formulario" class="row" ng-submit="submeter()" enctype="multipart/form-data">
            <div class="col-md-6">
                <!-- Nome -->
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input name="nome" class="form-control" ng-model="foto.nome"  type="text" id="name" placeholder="Nome" required>  
        
                    <span ng-show = "formulario.$submitted && formulario.nome.$error.required"
                        class="form-control alert-danger">
                        Nome obrigatório
                    </span>
                    <span ng-show="formulario.$submitted && formulario.nome.$error.maxlength" 
                        class="form-control alert-danger">
                        No máximo 20 caracteres!
                    </span>
                </div>
                <!-- FIM Nome -->   
                <!-- Descrição -->
                <div class="form-group">
                    <label for="desc">Descrição</label>
                    <input name="desc" class="form-control" ng-model="foto.desc" placeholder="Descrição"  required>
        
                    <span ng-show = "formulario.$submitted && formulario.desc.$error.required" 
                        class="form-control alert-danger">
                        Descrição Obrigatória
                    </span> 
                </div>
                <!-- FIM DESCRIÇÃO -->
                <!-- FILE -->

                <div class="form-group"> 
                    <label for="image">Upload Image</label> 
                    <input type="file"  name="image" ng-model="foto.img" required> 
                </div> 

                <!-- FIM FILE -->
                <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
                    Salvar
                </button>
                <a href="/#/home" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
            <div class="col-md-6">
                <img src="foto.img" alt="">
            </div>
        </form>
    </div>

    <div class="col-lg-6 col-md-6 ">

        <div> 
            <form action="/image" method="POST" enctype="multipart/form-data"> 
                <div> 
                    <label for="name">Titulo da Imagem</label> 
                    <input type="text" id="name" placeholder="Name" 
                        value="" name="name" required> 
                </div> 
                <div> 
                    <label for="desc">Descrição da Imagem</label> 
                    <textarea id="desc" name="pesc" value="" rows="2" 
                            placeholder="Descrição" required> 
                    </textarea> 
                </div> 
                <div> 
                    <label for="image">Upload Image</label> 
                    <input type="file" id="image" 
                        name="image" value="" required> 
                </div> 
                <div> 
                    <button type="submit">Enviar</button> 
                </div> 
            </form> 
        </div> 
    </div>

</div>